@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Deu Erro!</h1>
<h2 class="text-danger">Um erro ocorreu enquanto processei seu pedido.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID da Requisição:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>Se você estiver vendo este texto, avise o administrador do sistema para alterar o modo para Production ao invés de Desenvolvimento. </p>


