@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de Livros";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a lista de livros do Weslei!</h1>
    
</div>
<br />
<br />
<br />
<br /><br /><br /><br /><br /><br /><br />
<br /><br />
<br />
<footer class="text-center">
    <p>Veja este repositorio no <a href="https://github.com/WesleiCarraro"> GitHub</a>.</p>


</footer>