@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esta aplicação tem o proposito de estudos na tecnologia ASP.NET CORE com Razor Pages.</p>
